<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${news.description}"></title>
    <link rel="stylesheet" th:href="@{/styles/main.css}">
    <link rel="stylesheet" th:href="@{/styles/questionTest.css}">
    <link rel="icon" type="image/x-icon" th:href="@{img/icon.png}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="bg-dark">
<style th:inline="text">
    body {   background: url([[@{/img/background.svg}]]) no-repeat center center fixed;  }
</style>

<div id="wrapper" class="container  py-3 my-3 text-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-info rounded-3 px-2" >
        <a href="/" class="navbar-brand">
            <img th:src="@{/img/logo.png}" alt="logo" width="80" height="80" class="m-2">
        </a>

        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">

            <div class="navbar-nav">
                <a href="/user/edit" class="nav-item nav-link active">My profile</a>
                <a href="/questionTest/all" class="nav-item nav-link active">Questions</a>
                <a href="/article/all" class="nav-item nav-link active">Articles</a>
            </div>

            <div th:if="${user != null}" class="navbar-nav ms-auto">
                <a href="/user/edit" class="naw-item nav-link text-dark" th:text="${user.first_name + ' ' + user.last_name}"></a>
                <img th:src="@{/user/image/get/{user_id}(user_id=${user.id})}"
                     width="80" height="80" class="rounded-3" alt="user_image">
            </div>

            <div th:unless="${user != null}" class="navbar-nav ms-auto">
                <a href="/login" class="nav-item nav-link">Login</a>
                <a href="/registration" class="nav-item nav-link">Registration</a>
            </div>

        </div>
    </nav>

    <div class="container mt-2">
        <div class="row m-3 rounded-3" id="box">
            <div class="col-md-2 mt-2">
                <div class="naw flex-column border border-secondary text-center px-0 rounded-3 ">
                    <div class=" h6 text-secondary mt-2">Global</div>
                    <a href="/article/new" class="naw-item nav-link   text-white h6"> <i class="bi bi-pen h5"></i> Write article</a>
                    <a href="/questionTest/new" class="naw-item nav-link text-white h6"> <i class="bi bi-questionTest-circle h5"></i> Ask questionTest</a>
                    <a href="" class="naw-item nav-link  text-white h6"> <i class='fas fa-graduation-cap' style='font-size:20px'></i> Students</a>
                    <a href="" class="naw-item nav-link  text-white h6"> <i class="fas fa-school" style='font-size:20px'></i> University</a>
                </div>
            </div>

            <div class="col-md-8">
                <div class="container my-3">
                    <p class="text-end m-0" th:text="${news.date_of_creation.returnDate()}"></p>
                    <div class="text-end" style="position: relative; top: 40px;">
                    </div>
                    <h3 class="container my-3" th:text="${news.description}"></h3>
                </div>
                <div class="container my-3" th:text="${news.text}"></div>
            </div>
        </div>
    </div>

    <div id="footer" class="container mt-5" style="height: 200px;">
        <hr>
        <h4>eu-life.info</h4>
        <p>Information</p>
        <p>Contacts</p>
        <p>About us<p>
    </div>
</div>

<script th:src="@{/scripts/reply.js}"></script>
<script th:src="@{/scripts/saveOrUpdateLikes.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>