
#navigation  a:hover{
    background-color: rgba(206, 206, 10, 0.62);
}

#box {
    background-color: rgba(52, 58, 64, 0.89);
}

#nav-list li a {
    color: black;
    text-decoration: none;
    
}

#nav-list li  {
    text-align: center;
}

@media screen and (max-width: 1100px) {
    #nav-list {
        display: none;
    }
}

.ratingBar {
    background: none;
    border: none;
    color: white;
}

.ratingBar:hover {
    background: #545454;
}

#sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
}

#sticky div {
    border: 1px rgb(56, 56, 61) solid;
    border-radius: 3px;
}

.tox-tinymce {
    border: none;
}

