<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${article.topic}"></title>
    <link rel="stylesheet" th:href="@{/styles/main.css}">
    <link rel="stylesheet" th:href="@{/styles/article.css}">
    <link rel="icon" type="image/x-icon" th:href="@{img/icon.png}">
    <link rel="stylesheet" th:href="@{/styles/zoom.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="bg-dark">
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.8.2/tinymce.min.js" integrity="sha512-laacsEF5jvAJew9boBITeLkwD47dpMnERAtn4WCzWu/Pur9IkF0ZpVTcWRT/FUCaaf7ZwyzMY5c9vCcbAAuAbg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<style th:inline="text">
    body{   background: url([[@{/img/background.svg}]]) no-repeat center center fixed;  }
</style>

    <div id="wrapper" class="container  py-3 my-3 text-light">
       

            <nav class="navbar navbar-expand-lg navbar-light bg-info rounded-3 px-2" >
                    <a href="/" class="navbar-brand">
                        <img th:src="@{/img/logo.png}" alt="" width="80" height="80" class="m-2">
                    </a>

                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav">
                            <a href="/user/edit" class="nav-item nav-link active">My profile</a>
                            <a href="/question/all" class="nav-item nav-link active">Questions</a>
                            <a href="/article/all" class="nav-item nav-link active">Articles</a>
                        </div>
                        <div th:if="${user != null}" class="navbar-nav ms-auto">
                            <a href="/user/edit" class="naw-item nav-link text-dark" th:text="${user.first_name + ' ' + user.last_name}"></a>
                            <img th:src="@{/user/image/get/{user_id}(user_id=${user.id})}" width="60" height="60" class="rounded-3" alt="user_image">
                        </div>
                        <div th:unless="${user != null}" class="navbar-nav ms-auto">
                            <a href="/login" class="nav-item nav-link">Login</a>
                            <a href="/registration" class="nav-item nav-link">Registration</a>
                        </div>
                    </div>
            </nav>

        <div id="navbarAndContentWrapper" class="container mt-2 ">
            <div class="row m-3 rounded-3" id="box">
                <div class="col-md-2 mt-2">
                    <div class="naw flex-column border border-secondary text-center px-0 rounded-3 ">
                        <div class=" h6 text-secondary mt-2">Global</div>
                        <a href="/article/new" class="naw-item nav-link   text-white h6"> <i class="bi bi-pen h5"></i> Write an article</a>
                        <a href="/question/new" class="naw-item nav-link text-white h6"> <i class="bi bi-question-circle h5"></i> Ask a question</a>
                        <a href="" class="naw-item nav-link  text-white h6"> <i class='fas fa-graduation-cap' style='font-size:20px'></i> Students</a>
                        <a href="" class="naw-item nav-link  text-white h6"> <i class="fas fa-school" style='font-size:20px'></i> University</a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container my-3">
                        <div style="display: inline;">
                            <img th:src="@{/user/image/get/{user_id}(user_id=${article.author.id})}" width="50" height="50" class="rounded" alt="user image">
                            <a href="" class="link" th:text="${article.author.first_name + ' ' + article.author.last_name}"></a>
                        </div>
                        <div class="text-end" style="position: relative; bottom: 50px;">
                            <p class="text-end m-0" th:text="${article.date_of_creation.returnDate()}"></p>
                            <p class="text-end" th:text="${article.date_of_creation.returnTime()}" ></p>
                        </div>
                    </div>
                    <div class="container my-3" th:utext="${article.topic}"></div>
                    <div class="container my-3" th:utext="${article.text}"></div>
                    <hr>
                    <h4 class="text-center">Comments</h4>
                    <div class="ms-5 mt-3" th:each="comment : ${comments}">
                        <img th:src="@{/user/image/get/{user_id}(user_id=${comment.author.id})}" width="50" height="50" class="rounded" alt="user image">
                        <a href="" class="link" th:text="${comment.author.first_name}"></a>
                        <div th:utext="${comment.text}"></div>
                    </div>

                    <div class="mb-5 row">
                        <form th:action="@{/comment/new}" method="post" >
                            <input type="file" id="uploadImage"  style="display: none">
                            <h4 class="text-center">Leave comment</h4>
                            <label for="comment"></label>
                            <textarea name="text" cols="30" rows="10" id="comment" class="rounded bg-dark text-light p-2 col-md-8 mx-auto textarea"></textarea>
                            <label><input type="text"  th:value="${article.id}"  name="article_id"  style="display: none"></label>
                            <label><input type="submit" value="Answer" class="mx-auto m-2" style="display: block;"></label>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div id="footer" class="container mt-5" style="height: 200px;">
            <hr>
            <h4>eu-life.info</h4>
            <p>Information</p>
            <p>Contacts</p>
            <p>About us<p>
        </div>
        
        </div>
    </div>

    <script th:src="@{/scripts/editorConfig.js}"></script>
    <script th:src="@{/scripts/zoom.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>