<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EU-LIFE</title>
  <link rel="stylesheet" th:href="@{/styles/main.css}">
  <link rel="stylesheet" th:href="@{/styles/start.css}">
  <link rel="icon" type="image/x-icon" th:href="@{img/icon.png}">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="bg-dark">
<style th:inline="text">
  body{
    background: url([[@{/img/background.svg}]])
    no-repeat center center fixed;
  }
</style>
<div class="container mt-5">
  <h1 class="text-white text-center">Error code 500. Internal error!</h1>
  <h1 class="text-white text-center">Error reason was sent to developers</h1>

  <div class="text-center">
    <a href="/" class="h1">Go home</a>
  </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>